.home .simcal-calendar {
  margin-top: -15px;
  height: 450px;
  overflow: auto;
}

.home .simcal-events {
  padding-left: 0;
}

.home .simcal-default-calendar-list .simcal-event-details .simcal-event-description, 
.home .simcal-default-calendar-list .simcal-event-details p {
  margin: 0 0 0.4em;
}